.container{
  margin-left: 80px;
  border: 2px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}




.midimages{
  float: left;
}


.top{
  background-color: grey;
}
